.container {
  @apply absolute top-1/2 left-5 text-sm border-[1px] border-black p-2 rounded-xl;
  transform: translateY(-50%);
}

.selectOptionContainer {
  @apply mb-6 last:mb-0 first:pt-5 last:pb-5 px-4;
}

.toolboxLabel {
  @apply block mb-1;
}

.colorsContainer {
  @apply flex flex-wrap items-center;
}

.colorBox {
  @apply inline-block w-5 h-5 rounded mr-1 last:mr-0 border-[0.5px] border-black;
}

.noFillColorBox {
  background: linear-gradient(
      to top left,
      rgba(255, 0, 0, 0) 0%,
      rgba(255, 0, 0, 0) calc(50% - 0.8px),
      rgba(255, 0, 0, 1) 50%,
      rgba(255, 0, 0, 0) calc(50% + 0.8px),
      rgba(255, 0, 0, 0) 100%
    ),
    linear-gradient(
      to top right,
      rgba(255, 0, 0, 0) 0%,
      rgba(255, 0, 0, 0) calc(50% - 0.8px),
      rgba(255, 0, 0, 1) 50%,
      rgba(255, 0, 0, 0) calc(50% + 0.8px),
      rgba(255, 0, 0, 0) 100%
    );
}

.activeColorBox {
  @apply border border-gray-300;
  box-shadow: 0 0 0 1px #4a47b1;
}

.colorPicker {
  @apply mr-5 w-10 h-10 rounded border-2 border-neutral-400;
}
